gym>=0.17.2
numpy>=1.15.4
ray==1.0.0
pyyaml
setproctitle
psutil
torch>=1.6
tensorboard==1.14.0
tensorboardX==1.6
opencv-python>=4.1.0.25
gym-super-mario-bros==7.1.6
pybullet>=2.5.0
smac
dm_control
dm2gym
